:root {
   color-scheme: light dark;
  --color-blue: #2271d1;
  --color-dark-grey: #262626;
  --font-1: 'Roboto', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-1);
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

